{% extends _base_file %} {% block style %}
<link rel="stylesheet" href="{{BASE_URL()}}/vendor/zaacom/framework/src/Zaacom/assets/css/views/errors/template.css"/>
{% endblock %} {% block script %}
<script src="{{BASE_URL()}}/vendor/zaacom/framework/src/Zaacom/assets/js/framework.js"></script>
<script src="{{BASE_URL()}}/vendor/zaacom/framework/src/Zaacom/assets/js/views/errors/index.js"></script>
{% endblock %} {% block title %}{{th.message}}{% endblock %} {% block app %}
<div id="errors">
	<div class="top">
		<div class="message">{{th.message}}</div>
		<div class="file">{{th.file}}:{{th.line}}</div>
	</div>
	<div class="bottom">
		<div class="header">
			<div class="element active" id="stack_trace"> Stack Trace</div>
			<div class="element" id="request">Request</div>
			<div class="element" id="preview">Preview</div>
			<div class="element" id="response">Response</div>
		</div>
		<div class="content">
			<div class="element active" id="content_stack_trace">
				<div class="left">
					{% for keyStep,step in traces %}
					<div class="step{% if keyStep == 0 %} active{% endif %}" data-number="{{keyStep}}">
						<div class="file" title="{{step.file}}:{{step.line}}"> {{step.file}}:{{step.line}}</div>
						<div class="class" title="{{step.class}}{{step.type}}{{step.function}}">
							{{step.class}}{{step.type}}{{step.function}}
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="right">
					{% for keyStep,step in traces %}
					<div class="step{% if keyStep == 0 %} active{% endif %}" data-number="{{keyStep}}"
						 id="step_{{keyStep}}">
						<div class="top">
							<div class="file" title="{{step.file}}:{{step.line}}"> {{step.file}}:{{step.line}}</div>
							<div class="class" title="{{step.class}}{{step.type}}{{step.function}}">
								{{step.class}}{{step.type}}{{step.function}}
							</div>
						</div>
						<div class="bottom">
							<div class="numbers">
								{% for rowNumber,row in step.fileContent %}
								<div class="number{% if step.line == rowNumber+1 %} active{% endif %}">
									{{rowNumber+1}}
								</div>
								{% endfor %}
							</div>
							<div class="rows">
								{% for rowNumber,row in step.fileContent %}
								<div class="row{% if step.line == rowNumber+1 %} active{% endif %}"
									 data-number="{{rowNumber+1}}"> {{row|raw}}
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
				<div class="element" id="content_request">
					<div class="sections"> {% for row in request %} {{ include('/errors/request_section.twig') }} {% endfor %}
					</div>
				</div>
				<div class="element" id="content_preview"> {{preview|raw}}</div>
				<div class="element" id="content_response">
					<div class="rows">
						{% for rowNumber,row in previewRows %}
						<div class="row{% if step.line == rowNumber+1 %} active{% endif %}"
							 data-number="{{rowNumber+1}}"> {{row|raw}}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
